@font-face {
    font-family: 'DaysOne';
    src: url('../../fonts/DaysOne-Regular.woff2') format('woff2'),
        url('../../fonts/DaysOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


