:root {
    --Lavender-mist: #E9DEFF;
    --Deep_void: #0B001A;
    --Pure_light: #FFFFFF;
    --Royal_night: #1E0044;
    --Midnight_pulse: #170034;
    --Urban_ash: #56514D;
    --Georgia: "Georgia", sans-serif;
}